{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
      },
      "decoratorsLegacy": true,
      "pipelineProposal": "minimal"
    }],
    ["stage-1",{
      "decoratorsLegacy": true,
      "pipelineProposal": "minimal"
    }]
  ],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }],
    ["@babel/plugin-proposal-pipeline-operator", { "proposal": "minimal" }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    //["@babel/plugin-transform-decorators", { "legacy": true }]
  ]
}
